@using System.Globalization
@model MKT.EventoLead.WebApp.ViewModels.LeadViewModel



@if ((bool?)TempData["Sucesso"] ?? false)
{
    <div class="Overlay">
        <div class="Notificacao">
            <button onclick="OnClickFecharNotificacao()">
                <img src="~/Asset/Close.svg" />
            </button>
            <div class="Container">
                <p>Order created successfully!​</p>
                <p>​</p>
            </div>
        </div>
    </div>
}

<div class="BannerForm">
    <img src="~/Asset/Banner.Form.jpg">
    <div class="Sombra"></div>
    <div class="Container">
        <div class="NavbarInicial">
            <a href="/Home" class="Voltar">
               
            </a>
        </div>
    </div>
</div>

<p class="TituloFormulario">Order placement</p>

<form asp-controller="CustomerRegistration" asp-action="Create" method="POST" id="product-form">
    @Html.AntiForgeryToken()
    <div class="Formulario">

        <input type="hidden" asp-for="B2B" value="true" />
        <input type="hidden" value="" id="OrderProdutoListID" name="OrderProdutoListID">
        <fieldset>
            <legend>  Customer Details</legend>

            <div class="Linha">
                <div class="Input">
                    <p>Company/Store Name <span class="Obrigatorio">*</span></p>
                    <input type="text" asp-for="Company" />
                </div>
                <div class="Input">
                    <p>Tax ID (VAT) <span class="Obrigatorio">*</span></p>
                    <input type="text" asp-for="TAXId" />
                </div>
                <div class="Input">
                    <p>Address <span class="Obrigatorio">*</span></p>
                    <input type="text" asp-for="Address" />
                </div>
                <div class="Input">
                    <p>Zip Code <span class="Obrigatorio">*</span></p>
                    <input type="text" asp-for="ZIPCode" />
                </div>

            </div>

            <div class="Linha">


                <div class="Input">
                    <p>City <span class="Obrigatorio">*</span></p>
                    <input type="text" asp-for="City" />
                </div>
                <div class="Input">
                    <p>State <span></span></p>
                    <input type="text" asp-for="State" />
                </div>
                <div class="Input">
                    <p>Country <span class="Obrigatorio">*</span></p>
                    <input type="text" asp-for="Country" />
                </div>
                <div class="Input">
                    <p>Buyer's Name <span class="Obrigatorio">*</span></p>
                    <input type="text" asp-for="BuyerName" />
                </div>

            </div>
            <div class="Linha">
                <div class="Input">
                    <p>Buyer's E-mail <span class="Obrigatorio">*</span></p>
                    <input type="text" asp-for="Email" />
                </div>
                <div class="Input">
                    <p>Phone Number <span class="Obrigatorio">*</span></p>
                    <input type="text" asp-for="PhoneNumber" />
                </div>
                <div class="Input">
                    <p>Terms  <span class="Obrigatorio">*</span></p>
                    <input type="text" asp-for="Terms" />
                </div>
                <div class="Input">
                    <p>Discount (%) <span class="Obrigatorio"></span></p>
                    <input type="number" asp-for="Discount" id="val_discount" />
                </div>

            </div>
        </fieldset>

        <fieldset>
            <legend>  Accounting Details</legend>
            <div class="Linha">

                <div class="Input">
                    <p>Accounting Name <span class="Obrigatorio"></span></p>
                    <input type="text" asp-for="AccountingName" />
                </div>
                <div class="Input">
                    <p>Accounting Phone <span class="Obrigatorio"></span></p>
                    <input type="text" asp-for="AccountingPhone" />
                </div>
                <div class="Input">
                    <p>Accounting E-mail  <span class="Obrigatorio"></span></p>
                    <input type="text" asp-for="AccountingEmail" />
                </div>

            </div>
        </fieldset>

        <fieldset>
            <legend>Delivery Details</legend>
            <div class="Linha">

                <div class="Input">
                    <p>E-mail <span class="Obrigatorio"></span></p>
                    <input type="text" asp-for="DeliveryEmail" />
                </div>
                <div class="Input">
                    <p>Phone  <span class="Obrigatorio"></span></p>
                    <input type="text" asp-for="DeliveryPhone" />
                </div>
                <div class="Input">
                    <p>Contact <span class="Obrigatorio"></span></p>
                    <input type="text" asp-for="DeliveryContact" />
                </div>

            </div>

            <div class="Linha">
                <div class="Input">
                    <p>Address  <span class="Obrigatorio"></span></p>
                    <input type="text" asp-for="DeliveryAddress" />
                </div>
                <div class="Input">
                    <p>State <span></span></p>
                    <input type="text" asp-for="DeliveryState" />
                </div>
                <div class="Input">
                    <p>Zip Code <span class="Obrigatorio"></span></p>
                    <input type="text" asp-for="DeliveryZipCode" />
                </div>
            </div>
        </fieldset>


        <fieldset>
            <legend>Order Details</legend>
            <div class="Linha">
                <div class="Input">
                    <p>Currency</p>
                    <select asp-for="Currency" id="Currency" style="max-width: 100%;">
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="USD">USD</option>
                    </select>
                </div>
                <div class="Input">
                    <p>Staff Name</p>
                    <select asp-for="StaffName" style="max-width: 100%;">
                        <option></option>
                        <option value="LARA">LARA</option>
                        <option value="THIAGO">THIAGO</option>
                        <option value="SEGOLENE">SÉGOLÈNE</option>
                    </select>
                </div>
              
            </div>

            <div class="Linha">
                <div class="Input">
                    <p>Notes <span class="Obrigatorio"></span></p>
                    <input type="text" asp-for="Notes" />
                </div>
            </div>
            <div id="product-list-container">
                @Html.Partial("_PartialProduct", Model)
            </div>

        </fieldset>

        <p class="CamposObrigatorios">* Required fields</p>
        <button class="Desabilitado" type="submit">Submit</button>
        <p class="PrivacyPolicy">Access Granado’s <a href="https://www.granado.us/usa/customer-privacy-notice">privacy policy</a> here.  </p>
    </div>
  
</form>
